# dependencies
node_modules/
quiz-app/

# but allow the folder + the single file quiz.js
!JavaScript & Algo/console App/quiz-app/
!JavaScript & Algo/console App/quiz-app/quiz.js
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*

# build
dist/
build/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
